.main
{
    background-color:#cbeaed;
    color:#01a9b4;
    font-weight: lighter;
    text-align: center;
}
.profile-card
{
  marign:100px auto 50px auto;
  border-radius: 30px;
}
hr
{
  border-style: dotted;
  height: 20px;
}
img
{
    margin-top:10px;
    border-radius:20px;
    width:160px;
    height:160px;
}
.name
{
    padding-left: 20px;
}
i
{
    margin-right: 10px;
    margin-left: 10px;
}
.h6 i
{
    color:#ff847c;
}
.skill i
{
    color: ff847c;
}
.skill h6
{
    margin-top: 20px;
    margin-left: 10px;
}
.progress
{
    border-radius: 50px;
    width:300px;
    margin:auto;
    width: 100px;
    height: 20px;
}
